<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cabin Conversations Podcast">
        <meta name="author" content="Jacob Collins">
        <meta property="og:title" content="Cabin Conversations Podcast">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://cabinconversations.github.io/">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>    
        </nav>
        <h1>
            {{ page.pageTitle }}
        </h1>
        <section>
            {{ content }}
        </section>
        <footer>
            <br>&copy; Jacob Collins
            <br>&copy; Ryan Bailey
        </footer>
    </body>
</html>
